source https://api.nuget.org/v3/index.json
storage: none

nuget Elmish
nuget Fable.Elmish
nuget Fable.Promise
nuget Fable.SimpleJson
nuget Feliz
nuget FSharp.Core
nuget Fable.Core
nuget Fable.Remoting.Json
nuget Fable.Remoting.MsgPack
nuget Microsoft.AspNetCore.SignalR.Client
nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson
nuget Microsoft.IO.RecyclableMemoryStream
nuget Saturn